.container-fluid {
  height: 100vh;
}

.noPadding {
  padding: 0;
}

.boton {
  background-color: #45dcb8;
  color: #323433;
  font-size: 18px;
  border: 1px solid #45dcb8;
  outline: none;
  cursor: pointer;
  padding: 8px 12px;
  outline: none !important;
  font-family: "Maven Pro", sans-serif;
}

.bienvenido {
  color: #ff5924;
  font-size: 45px;
  margin-top: 30vh;
  font-weight: bold;
}

.mensajeBienvenida {
  font-weight: normal;
}

.mensaje {
  text-align: center;
}

body {
  color: #323433;
}

:focus {
  outline: 3px solid lightcoral;
}

h1 {
  margin: 15px;
  font-size: 30px;
  -moz-user-focus: initial;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  margin: 15px;
  margin-bottom: 15px;
  margin-top: 30px;
  font-family: "Maven Pro", sans-serif;
}

h3 {
  font-size: 35px;
  margin: 15px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 25px;
  margin-bottom: 5px;
  font-family: "Maven Pro", sans-serif;
}

h5 {
  font-size: 25px;
  margin-bottom: 5px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

h6 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

p {
  margin: 5px;
  margin-left: 0;
  font-size: 20px;
  font-family: "Quattrocento", serif;
}

span {
  margin: 5px;
  margin-left: 0;
  font-size: 20px;
  font-family: "Quattrocento", serif;
}
