.navNav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px -7px 41px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -7px 41px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -7px 41px -10px rgba(0, 0, 0, 0.75);
  z-index: 5;
}

.ulNav {
  display: flex;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  width: 100%;
}

.h1Nav {
  list-style-type: none;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 2vw;
  margin-right: 4vw;
}

.hamburger {
  font-size: 20px;
  font-weight: bolder;
  background-color: white;
  color: #45dcb8;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 575px) {
  .hamburger {
    width: 0 !important;
    overflow: hidden;
  }
}
